body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes breath {
  from {
    width: 600px;
    height: 600px;
    border-width: 10px;
  }

  to {
    width: 900px;
    height: 900px;
    border-width: 5px;
  }
}

.Ring {
  animation: 5s linear 1s infinite alternate breath;
}
